
<section>
    <h1>Iniciar sesion</h1>
    <form action="/admin" method="post">
        <strong>Usuario</strong>
        <input type="text" name="user" required>
        <button>Iniciar</button>

    </form>
    <p style="font-weight: 600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Ingresar <span style="color: red;">true</span> para  acceder</p>
</section>