<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( './head' ) ) -%>
</head>
<body style="background:red">
    <%- include( './admin'  ) -%>
    <%- include( './products'  ) -%>
    <%- include( './cart' ) -%>

</body>
</html>